$primario: #3c8dbc;
$secondario: #367fa9;
$ternario:#222d32;
$text-hover:rgba(218, 195, 195, 0.829);
$alto:55px;

@keyframes swing {
    0% {
      transform: rotate(0deg);
    }
    10% {
      transform: rotate(10deg);
    }
    30% {
      transform: rotate(0deg);
    }
    40% {
      transform: rotate(-10deg);
    }
    50% {
      transform: rotate(0deg);
    }
    60% {
      transform: rotate(5deg);
    }
    70% {
      transform: rotate(0deg);
    }
    80% {
      transform: rotate(-5deg);
    }
    100% {
      transform: rotate(0deg);
    }
  }

* a:link, a:hover
{
    text-decoration: none;
}
body .container-fluid
{
    display: flex;    
}
body .container-fluid .sidebar-lateral,
body .container-fluid .sidebar-lateral .sidebar-header>a .logo-lg.active,
body .container-fluid .sidebar-lateral .sidebar-header>a .logo-mini.active,
body .container-fluid .sidebar-lateral .sidebar-header>a .logo-lg,
body .container-fluid .sidebar-lateral .sidebar-header>a .logo-mini,
body .container-fluid .sidebar-lateral .sidebar-menu .menu li>a span,
body .container-fluid .sidebar-lateral .sidebar-menu .menu li>a i,
body .container-fluid .sidebar-lateral .sidebar-menu .menu .treeview>a::after
{
  transition: all .3s ease;
}
body .container-fluid .sidebar-lateral
{
  background: $ternario;
}
body .container-fluid .sidebar-lateral
{
  width: 250px;
  z-index: 810;
  padding: 0;
  height: 100vh;
  overflow: hidden;
}
body .container-fluid .sidebar-lateral .sidebar-header
{
  border-bottom: 1px solid $secondario;
  background: $secondario;
  height: $alto;
}
$margen:6px;
body .container-fluid .sidebar-lateral.active
{
  width: 55px;
  overflow: hidden;
}
body .container-fluid .sidebar-lateral .sidebar-header>a:hover
{
  text-shadow: 3px 3px 5px white;
}
body .container-fluid .sidebar-lateral .sidebar-header>a
{
  display: block;
  padding: 15px 0;
  text-align: center;  
  letter-spacing: 3px;
}
body .container-fluid .sidebar-lateral .sidebar-header>a span
{
  color: $text-hover;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
}
body .container-fluid .sidebar-lateral .sidebar-header>a .logo-lg.active
{
  display: none;
}
body .container-fluid .sidebar-lateral .sidebar-header>a .logo-mini.active
{
  display: block;
  line-height: 20px;
  margin-top: -5px;
}
body .container-fluid .sidebar-lateral .sidebar-header>a .logo-mini
{
  display: none;
}
body .container-fluid .sidebar-lateral .sidebar-menu
{
  padding: 10px 8px;
}
body .container-fluid .sidebar-lateral .sidebar-menu .menu
{
  list-style-type: none;
  padding: 0;
  margin: 0;
}
body .container-fluid .sidebar-lateral .sidebar-menu .menu>li
{
  position: relative;
  cursor: pointer;
}
body .container-fluid .sidebar-lateral .sidebar-menu .menu>li>a
{
  position: relative;
}
body .container-fluid .sidebar-lateral .sidebar-menu .menu>li>a
{
  display: inline-flex;
  color: $text-hover;
  padding: 5px ;
  width: 100%;
}
body .container-fluid .sidebar-lateral .sidebar-menu .menu li>a>span
{
  letter-spacing: 1px;
  margin-left: 11px;
  vertical-align: middle;
}
body .container-fluid .sidebar-lateral .sidebar-menu .menu li>a>i
{
  background: #444;
  padding: 6px;
  border-radius: .2rem;
  width: 30px;
}
body .container-fluid .sidebar-lateral .sidebar-menu .menu li:hover>a span,
body .container-fluid .sidebar-lateral .sidebar-menu .menu li.active>a span,
body .container-fluid .sidebar-lateral .sidebar-menu .menu .treeview:hover>a::after
{
  color: white;
}
body .container-fluid .sidebar-lateral .sidebar-menu .menu li:hover>a i,
body .container-fluid .sidebar-lateral .sidebar-menu .menu li.active>a i,
body .container-fluid .sidebar-lateral .sidebar-menu .menu .treeview .collapse ul li:hover>a::before,
body .container-fluid .sidebar-lateral .sidebar-menu .menu .treeview .collapse ul li.active>a::before
{
  color: rgba(127, 213, 245, 0.993);
  text-shadow: 0px 0px 10px rgba(127, 213, 245, 0.993);
  display: inline-block;
  animation: swing ease-in-out 0.5s 1 alternate;
}
body .container-fluid .sidebar-lateral .sidebar-menu .menu .treeview>a::after
{
  content: "\f103";
  position: absolute;
  top: 5px;
  left: 180px;
  vertical-align: middle;
  font-weight: 600;
  font-family: "Font Awesome 5 Free";
  overflow: hidden;
}
body .container-fluid .sidebar-lateral .sidebar-menu .menu .treeview ul
{
  list-style-type: none;
  padding: 0;
  margin: 0;
}
body .container-fluid .sidebar-lateral .sidebar-menu .menu .treeview ul li
{
  padding-left: 40px;
  font-size: 14px;
}
body .container-fluid .sidebar-lateral .sidebar-menu .menu .treeview ul li>a
{
  color: $text-hover;
}
body .container-fluid .sidebar-lateral .sidebar-menu .menu .treeview ul li>a::before
{
  content: "\f111";
  font-family: "Font Awesome 5 Free";
  font-weight: 300;
  font-size: 8px;
  margin-right: -9px;
}
body .container-fluid .sidebar-content
{
  width: 100%;
}





















// body .container-fluid .sidebar-content
// {
//   width: 100%;
// }
// body .container-fluid .sidebar-content>nav
// {
//   height: $alto;
//   background: $primario;
// }
// body .container-fluid .sidebar-content>nav .bn
// {
//   color: white;
//   background: $primario;
//   position: relative;
//   top: -8px;
// }
// body .container-fluid .sidebar-content>nav .bn:hover
// {
//   background: $secondario;
// }
// body .container-fluid .sidebar-content>nav .collapse,
// body .container-fluid .sidebar-content>nav .collapsing
// {
//   position: absolute;
//   background: white;
//   top: 45px;
//   left: auto;
//   border-radius: .2rem;
//   width: 130px;
//   right: 0;
// }
// body .container-fluid .sidebar-content>nav .collapse ul,
// body .container-fluid .sidebar-content>nav .collapsing ul
// {
//   list-style-type: none;
//   margin: 0;
//   padding: 0;
// }
// body .container-fluid .sidebar-content>nav .collapse ul li,
// body .container-fluid .sidebar-content>nav .collapsing ul li
// {
//   margin: 8px auto ;
//   display: block;
//   text-align: center;
// }
// body .container-fluid .sidebar-content>nav .collapse ul li a,
// body .container-fluid .sidebar-content>nav .collapsing ul li a
// {
//   display: inline-flex;
//   vertical-align: middle;
//   line-height: 17px;
//   padding: 3px 10px;
//   color: black;
// }
// body .container-fluid .sidebar-content>nav .collapse ul li a>i,
// body .container-fluid .sidebar-content>nav .collapsing ul li a>i
// {
//   margin-right: 8px;
// }
// body .container-fluid .sidebar-content>nav .collapse ul li:hover,
// body .container-fluid .sidebar-content>nav .collapsing ul li:hover
// {
//   background: rgba(156, 156, 156, 0.612);
// }