.h3,h3
{
    margin-bottom: 0;
}
a:link,a:hover
{
    text-decoration: none;
}
$height:65px;
.wrapper>.sidebar,
.wrapper>.sidebar>.sidebar-menu>ul>li>a,
.wrapper>.sidebar>.sidebar-menu>ul>li>a>span,
.wrapper>.sidebar>.sidebar-menu>ul>li>a>i::before,
.wrapper>.sidebar>.sidebar-menu>ul>.submenu>.subm>ul>li>a,
.wrapper>.navbar .sign-out>ul>li>a,
.wrapper>.navbar>button[type="button"],
.wrapper>.navbar .btn-primary,
.wrapper>.content
{
    transition: all .3s ease;
}
$height-sidebar:240px;
.wrapper>.sidebar
{
    min-width: $height-sidebar;
    max-width: $height-sidebar;
    height: 100vh;
    max-height: 100vh;
    position: fixed;
    background: #222d32;
    color: #b8c7ce;
}
.wrapper>.sidebar.active
{
    margin-left: -$height-sidebar;
}
.wrapper>.sidebar>.sidebar-header
{
    background: #367fa9;
}
.wrapper>.sidebar>.sidebar-header>a>h3
{
    font-size: 1.3rem;
}
.wrapper>.sidebar>.sidebar-header>a
{
    color: #fff;
    text-align: center;
    font-weight: 100;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    height: $height;    
    display: contents;
}
.wrapper>.sidebar>.sidebar-header:hover
{
    background: #357ca5;
}
.wrapper>.sidebar>.sidebar-menu
{
    overflow: hidden;
    position: relative;
}
.wrapper>.sidebar>.sidebar-menu>ul>li>a
{
    border-left: 2px solid transparent;
    padding: .5rem .7rem;
}
.wrapper>.sidebar>.sidebar-menu>ul>li>a
{
    display: block;
}
.wrapper>.sidebar>.sidebar-menu li a>i
{
    padding: .4rem;
    background: #3a3f48;
    border-radius: .2rem !important;
    font-size: 14px;
    text-align: center;
}
.wrapper>.sidebar>.sidebar-menu>ul>li>a,
.wrapper>.sidebar>.sidebar-menu>ul>li>a>i
{
    color: #b8c7ce;
}
.wrapper>.sidebar>.sidebar-menu>ul>li:hover>a,
.wrapper>.sidebar>.sidebar-menu>ul>li.active>a,
.wrapper>.sidebar>.sidebar-menu>ul>li:hover>a>i::before,
.wrapper>.sidebar>.sidebar-menu>ul>li.active>a>i::before
{
    color: #fff;
    text-shadow: 0px 0px 10px #fff;
    background: #1e282c;
    border-left-color: #3c8dbc;
    cursor: pointer;
}
.wrapper>.sidebar>.sidebar-menu .submenu>.aSub::after
{
    content: "\f103";
    font-family: "Font Awesome 5 Free";
    font-weight: bold;
    position: absolute;
    right: 10px;
}
.wrapper>.sidebar>.sidebar-menu>ul>.submenu>.subm
{
    background: #3a3f48;
}
.wrapper>.sidebar>.sidebar-menu>ul>.submenu>.subm>ul>li>a
{
    color: #8aa4af;
    padding: .4rem .7rem;
    display: block;
    margin-left: 20px;
}
.wrapper>.sidebar>.sidebar-menu>ul>.submenu>.subm>ul>li>a,
.wrapper>.sidebar>.sidebar-menu>ul>.submenu>.subm>ul>li>a>i::before
{
    font-size: 14px;
}
.wrapper>.sidebar>.sidebar-menu>ul>.submenu>.subm>ul>li>a>i
{
    background: #333;
    border-radius: .2rem;

}
.wrapper>.sidebar>.sidebar-menu>ul>.submenu>.subm>ul>li:hover>a,
.wrapper>.sidebar>.sidebar-menu>ul>.submenu>.subm>ul>li.active>a
{
    color: #fff;
    text-shadow: 0px 0px 10px #fff;
}
.wrapper>.content
{
    width: 100%;
    min-height: 100vh;
    padding-left: $height-sidebar;
}
.wrapper>.content.active
{
    padding-left: 0px;
}
.wrapper>.content>.navbar
{
    background: #3c8dbc;
    height: $height;
    width: 100%;
}
.wrapper>.content>.navbar a[href="#action"]::before
{
    content: "\f0d7";
    font-family: "Font Awesome 5 Free";
    font-weight: bold;
}
.wrapper>.content>.navbar .sign-out
{
    background: #3a3f48;
    position: absolute;
    top: 45px;
    right: 0;
    padding: .5rem 0;
    border-radius: .2rem;
    width: 110px;
}
.wrapper>.content>.navbar .sign-out>ul>li>a
{
    color: #b8c7ce;
    display: block;
    margin: auto;
    padding: .2rem 0;
    text-align: center;
}
.wrapper>.content>.navbar .sign-out>ul>li:hover>a
{    
    color: #fff;
    background: #1e282c;
    cursor: pointer;
    text-shadow: 0px 0px 10px #fff;
}
.wrapper>.content>.navbar>button[type="button"]
{
    background: #3c8dbc;
    color: #fff;
    font-size: 18px;
}
.wrapper>.content>.navbar>.btn:focus,
input:focus,button:focus,textarea:focus,a:focus,a:active:focus,
.btn-primary:focus
{
    box-shadow: none;
}
.wrapper>.content>.navbar .btn-primary
{
    border: 1px solid #367fa9;
    background: #3c8dbc;
}
.wrapper>.content>.navbar>button[type="button"]:hover,
.wrapper>.content>.navbar .btn-primary:hover
{
    background: #357ca5;
}
.wrapper>.content>.container
{
    max-width: 1275px;
}